body {
background-color: #e5f9f5;
color: navy;
font-size: 14px;
font-family: Georgia, serif;
border: 3px solid #fffdf6;
border-radius: 10px;
}

h1 {
color: #6495ED;
font-size: 16px;
}

h2 {
  color: #6495ED;
  font-size: 15px;
}

section {
display: flex;
justify-content: center;
}
